{% extends "home_base.html" %}

{% block 'content' %}


<!-- Pricing Cards -->
<section id="planos" class="bg-white dark:bg-gray-900 h-full">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        {% if messages %}
            {% for message in messages %}
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-900 dark:text-red-400 dark:border-red-800" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span>{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Escolha o Melhor Plano para Você</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Oferecemos planos flexíveis para atender às suas necessidades de gerenciamento de patrimônio.
            </p>
        </div>
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
            <!-- Plano Mensal -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">Plano Mensal</h3>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">R$15</span>
                    <span class="text-gray-500 dark:text-gray-400">/mês</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Acesso completo ao sistema</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Suporte prioritário</span>
                    </li>
                </ul>
                <button onclick="checkout('{{ plans.monthly }}')" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900 cursor-pointer">Assinar Agora</button>
            </div>

            <!-- Plano Semestral -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">Plano Semestral</h3>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">R$75</span>
                    <span class="text-gray-500 dark:text-gray-400">/6 meses</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Todos benefícios do plano mensal</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Economia em relação ao plano mensal</span>
                    </li>
                </ul>
                <button onclick="checkout('{{ plans.semiannual }}')" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900 cursor-pointer">Assinar Agora</button>
            </div>

            <!-- Plano Anual -->
            <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-2xl font-semibold">Plano Anual</h3>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">R$140</span>
                    <span class="text-gray-500 dark:text-gray-400">/ano</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Todos benefícios do semestral</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Melhor custo-benefício</span>
                    </li>
                </ul>
                <button onclick="checkout('{{ plans.annual }}')" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900 cursor-pointer">Assinar Agora</button>
            </div>
        </div>
    </div>
</section>

{% include 'partials/modal_error_subscription.html' %}

{% endblock %}


{% block 'scripts-web' %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    function showErrorModal() {
        document.getElementById('errorModal').classList.remove('hidden');
    }

    // Fecha o modal de erro
    function closeErrorModal() {
        document.getElementById('errorModal').classList.add('hidden');
    }

    // Exibe o loader
    function showLoader() {
        document.getElementById('loadingSpinner').classList.remove('hidden');
    }

    // Oculta o loader
    function hideLoader() {
        document.getElementById('loadingSpinner').classList.add('hidden');
    }
    const stripe = Stripe("{{key}}")

    function checkout(priceId) {
        showLoader();
        fetch("{% url 'checkout' %}", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: "price_id=" + priceId,
        })
        .then(async (response) => {
            if (response.status === 401) {
                window.location.href = "{% url 'login' %}"; // Redireciona para a página de login
                hideLoader();
                return null; // Interrompe o processamento após o redirecionamento
            }
        
            return response.json(); // Prossegue para extrair os dados da resposta
        })
        .then(data => {
            if (!data) {
                return; // Se não houver dados, não faz nada
            }
            if(data.error){
                document.getElementById('errorModal').querySelector('p').textContent = data.error
                hideLoader();
                showErrorModal();
                return
            }
            stripe.redirectToCheckout({ sessionId: data.sessionId }); // Redireciona para o checkout
            hideLoader();
        })
        .catch(error => {
            hideLoader();
            showErrorModal();
        });
    }
</script>
{% endblock %}